<nav>
  <div class="logo-container">
    <img src="./public/logo.jpg" alt="" />
  </div>
    <div class="user-info">
    <span id="usernameDisplay"></span>
  </div>
  <hr/>
  <ul id="navLinks">
    <li>
      <a href="admin_dashboard.html" class="nav-link">
        <i class="fas fa-chart-line"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a href="admin_students.html" class="nav-link">
        <i class="fas fa-user-graduate"></i>
        <span>Students</span>
      </a>
    </li>
    <li>
      <a href="admin_trainers.html" class="nav-link">
        <i class="fas fa-chalkboard-teacher"></i>
        <span>Trainers</span>
      </a>
    </li>
    <li>
      <a href="admin_field_mobilisers.html" class="nav-link">
        <i class="fas fa-people-carry"></i>
        <span>Field Mobilisers</span>
      </a>
    </li>
    <li>
      <a href="admin_courses.html" class="nav-link">
        <i class="fas fa-book"></i>
        <span>Courses</span>
      </a>
    </li>
    <li>
      <a href="admin_fee_details.html" class="nav-link">
        <i class="fas fa-rupee-sign"></i>
        <span>Fee Management</span>
      </a>
    </li>
    <li>
      <a href="admin_placements.html" class="nav-link">
        <i class="fas fa-briefcase"></i>
        <span>Placements</span>
      </a>
    </li>
    <li>
      <a href="admin_reports.html" class="nav-link">
        <i class="fas fa-file-alt"></i>
        <span>Reports</span>
      </a>
    </li>
    <li>
      <a href="admin_announcements.html" class="nav-link">
        <i class="fas fa-bullhorn"></i>
        <span>Announcements</span>
      </a>
    </li>
    <li>
      <hr />
      <button onclick="logout()" class="logout-link">
        <i class="fas fa-sign-out-alt"></i>
        <span>Logout</span>
      </button>
    </li>
  </ul>
</nav>
