<nav>
<div class="logo-container">
    <img src="./public/logo.jpg" alt="" />
</div>
  <div class="user-info">
    <span id="usernameDisplay"></span>
  </div>
  <hr/>
<ul id="navLinks">
    <li>
    <a href="field_mobiliser_dashboard.html" class="nav-link"
        ><i class="fas fa-chart-line"></i> Dashboard</a
    >
    </li>
    <li>
    <a href="field_mobiliser_students.html" class="nav-link"
        ><i class="fas fa-user-graduate"></i> Students</a
    >
    </li>
    <li>
    <a href="field_mobiliser_profile.html" class="nav-link"
        ><i class="fas fa-user"></i> Profile</a
    >
    </li>
    <li>
    <hr />
      <button onclick="logout()" class="logout-link">
        <i class="fas fa-sign-out-alt"></i>
        <span>Logout</span>
      </button>
    </li>
</ul>
</nav>