<nav>
  <div class="logo-container">
    <img src="./public/logo.jpg" alt="" />
  </div>
  <div class="user-info">
    <span id="usernameDisplay"></span>
  </div>
  <hr/>
  <ul id="navLinks">
    <li>
      <a href="candidate_dashboard.html" class="nav-link">
        <i class="fas fa-home"></i>
            Dashboard
        </a>
    </li>
    <li>
        <a href="student_courses.html" class="nav-link">
            <i class="fas fas fa-graduation-cap"></i> 
            Apply Course
        </a>
    </li>
    <li>
      <a href="student_fee_details.html" class="nav-link">
        <i class="fas fa-receipt"></i> Fee Details
      </a>
    </li>
    <li>
      <a href="attendance_data.html" class="nav-link">
        <i class="fas fa-calendar-check"></i> 
        Attendance Data
      </a>
    </li>
    <li>
      <a href="about_us.html" class="nav-link">
        <i class="fas fa-info-circle"></i> 
        About Us
      </a>
    </li>
    <li>
      <a href="contact.html" class="nav-link">
        <i class="fas fa-headset"></i> 
        Contact
      </a>
    </li>
    <li>
      <a href="help_faqs.html" class="nav-link">
        <i class="fas fa-question-circle"></i> 
        Help & FAQs
      </a>
    </li>
    <li>
    <a href="student_profile.html" class="nav-link" class="nav-link"
        ><i class="fas fa-user"></i>Profile</a
    >
    </li>
    <li>
      <hr />
      <button onclick="logout()" class="logout-link">
        <i class="fas fa-sign-out-alt"></i>
        <span>Logout</span>
      </button>
    </li>
  </ul>
</nav>
